.btn{

    background-color: greenyellow;
    color: blue;
    font-weight: bold;
    padding: 1rem;
    width: 10rem;
    border-width: 0px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

}
.btn:hover{
    transform: translateY(-5px);
}

.container{
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
}

.sub-container{
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
}

.heading{
    margin-top: 5rem;

}
.form{
     padding: 5rem;
    box-shadow: 10px -10px 34px -15px rgba(0,0,0,0.73);
    -webkit-box-shadow: 10px -10px 34px -15px rgba(0,0,0,0.73);
    -moz-box-shadow: 10px -10px 34px -15px rgba(0,0,0,0.73);
}
.text{
    padding: 0.5rem;
    margin-top: 1rem;
    // border-width: 0;
}
